<!DOCTYPE html>

<html lang='en'>
	<head>
		<title>Books - List</title>
	</head>
	<body>
		<div class='wrapper'>
			<div class='topbar'>
				<a href='/books/list'>Home</a>
				<a href='/users/logout'>Logout</a>
			</div>
			{% if messages %}
				<ul class='errors'>
				{% for message in messages %}
					<li><p class='error_message'> {{message}} </p></li>
				{% endfor %}
				</ul>
			{% endif %}
			<div class='bookInfo'>
				<h2>{{book.title}}</h2>
				<p>Author: {{book.author.name}}</p>
			</div>
			<div class='recentContainer'>
				<h3>Reviews:</h3>
				{% if recent %}
					{% for review in recent %}
						<div class='book_review'>
							<p>{{review.rating}}/5</p>
							{% if not review.reviewer.id == 0 %}
								<p><a href='/users/view/{{review.reviewer.id}}'>{{review.reviewer.first_name}}</a> says: {{review.content}}</p>
								<p>Posted on {{review.created_at}}</p>
                                {% if not review.created_at == review.updated_at %}
									<p>Last updated on {{review.updated_at}}</p>
								{% endif %}
								{% if request.session.id == review.reviewer.id %}
									<a href='/books/{{review.id}}/edit'>Edit this review</a>
									<a href='/books/{{review.id}}/destroy'>Delete this review</a>
								{% endif %}
							{% else %}
								<p>Guest user says: {{review.content}}</p>
								<p>Posted on {{review.created_at}}</p>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class='formContainer'>
				<h3>Add a Review:</h3>
				<form class='review_existing' action='/books/review_existing' method='POST'>
					{% csrf_token %}
					<textarea name='review_text' id='review_text' cols=45 rows=5></textarea>
					<label for='rating'></label>
					<input type='number' name='rating' id='rating' min=1 max=5 value=3>
					<input type='submit' id='submit_review' name='submit_review' value='Submit Review'>
				</form>
			</div>
		</div>
	</body>
</html>